body {
    font-family: "Dosis", sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: #0c2131c4;
    margin: 20px;
    transition: 0.3s all ease-in-out;
    position: relative;
    /* box-shadow: 0px 0px 15px #fffefd; */
    /* Link */
}

.container .box .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 15px;
    padding-top: 0%;
}

.container .box .boxContent .icon {
    color: #fffefd;
    font-size: 35px;
    padding-top: 15px;
}

.container .box .boxContent .title {
    font-size: 16px;
    color: #fffefd;
    font-weight: bold;
}

.container .box .boxContent .desc {
    color: #fffefd;
    font-size: 12px;
}

.container .box a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.container .strongElement {
    font-weight: bold;
    color: #ffffff;
    font-family: Consolas;
}

.container .box:hover {
    background: linear-gradient(130deg, #8f8f8f 0%, #f1f1f0 100%);
    box-shadow: none;
}

.container .box:hover .icon,
.container .box:hover .title,
.container .box:hover .desc,
.container .box:hover .strongElement {
    color: #0c2131;
    transition: 0.3s all ease-in-out;
}